/* Login */

#loginDiv > *{
  margin: 20px;
  border-radius: 10px;
  border: 1px solid white;
  color:white;
  background-color: #0d6efd;
  
}
#loginDiv >input::placeholder {
  /* Your styles here */
  color: white; /* For example, make the placeholder text red */
   /* For example, italicize the placeholder text */
}
#loginDiv >button:hover {
  /* Your styles here */
  border-color: #212121; /* For example, make the placeholder text red */
   /* For example, italicize the placeholder text */
}
#loginDiv >input:hover {
  /* Your styles here */
  border-color: #212121; /* For example, make the placeholder text red */
   /* For example, italicize the placeholder text */
}
/* Navbar */

#navbar{
  margin-left: 10px;
    margin-right: 10px;
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color:white;
    background-color: #0d6efd;

}
#navbar >button:hover {
  /* Your styles here */
  background-color: #212121;
  color: #212121; /* For example, make the placeholder text red */
   /* For example, italicize the placeholder text */
}
#navbar >input:hover {
  /* Your styles here */
  background-color: #212121;
  color: #212121; /* For example, make the placeholder text red */
   /* For example, italicize the placeholder text */
}

/* Home */

#home {
  display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding: 1rem;
    
    @media (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr); 
    }
  
    @media (max-width: 480px) {
      grid-template-columns: 1fr; 
    }
}

#home > div{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
